<div id="page-wrapper" class="gray-bg">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-xs-12">
            <h2>О проекте</h2>
        </div>
    </div>

   <div class="row">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                <p>
                    Проект посвящен использованию открытых данных для оценки экономической ситуации в стране на основе состояния фондового рынка и национальных платежных средств, прежде всего - национальной валюты.
                </p>
                <p>
                    В качестве источников использовались:
                    <ul>
                        <li>Открытые данные МинФина РФ</li>
                        <li>Данные Московской Биржи</li>
                        <li>Данные Google Finance</li>
                    </ul>
                </p>
                <p>
                    Используемые технологии:
                </p>
                <p>
                    Backend:
                    <ul>
                        <li>Базы данных (реляционные) - Microsoft SQL Server 2014</li>
                        <li>Базы данных (многомерные), модели DataMining, OLAP-куб - Microsoft Analysis Services 12.0</li>
                        <li>Веб-сервер - Windows Server 2012 / Internet Information Services</li>
                        <li>Самописный ASP.NET HTTP Restful интерфейс для взаимодействия с Frontend
ETL (загрузка и пре-процессинг данных, управление обновлением данных)</li>
                        <li>SQL Server Integration Services 2014 (разработка в Visual Studio 2013, SSDT)</li>
                    </ul>
                </p>
                <p>
                    Frontend:
                    <ul>
                        <li>AngularJS</li>
                        <li>ChartJS</li>
                        <li>Twitter Bootstrap</li>
                    </ul>
                </p>
                <p>
                    Данные подбирались таким образом, чтобы детализация (гранулярность) в наборе составляла не менее 1 дня. В результате было создано и наполнено данными аналитическое хранилище (модель Кимбалла, топология - star), которое использовалось
для построения многомерной базы данных и OLAP-кубов на ее основе, а также моделей анализа данных по двум основным алгоритмам: Microsoft Time Series, Microsoft Neural Network.
                </p>
                <p>
                    Для обеспечения взаимодействия frontend и backend серверов на backend-сервер был создан HTTP-Restful интерфейс, выдающий JSON-документы в виде готовых наборов данных.
                </p>
                <p>
                    Проект включает в себя два основных направления:
                    <ul>
                        <li>Интеллектуальная визуализация открытых данных</li>
                        <li>Анализ открытых данных и построение прогнозов на их основе</li>
                    </ul>
                </p> 
                <p>
                    Интеллектуальная визуализация предполагает использование MDX-запросов к OLAP-кубу с последующим углублением (drilldown) в данные, позволяющим пользователю системы быстро находить "болевые точки" экономики, в рамках собранных данных.
                </p>
                <p>
                    Для прогнозирования во времени используется стандартный микс алгоритмов ARTXP/ARIMA, без использования запросов, включающих cross-prediction (однако это вполне возможно при поступлении в систему корректных данных).
Данные алгоритмы опробованы прежде всего на курсе иностранной валюты (доллар) и активах банков, входящих в специальный перечень МинФина. При этом для активов показаны разные варианты настроек алгоритмов - 
на долгосрочное, краткосрочное и среднесрочное (сбалансированное) планирование.
                </p>   
                <p>
                    Оценка влияния стоимости нефти и курса иностранной валюты на общую капитализацию рынка проводилась на выборке из собранных данных: компаниях с общей капитализацией от 100 до 500 млн рублей, присутствовавших на рынке
в течение 2013-2015 г.г. Аналитическим сервером выполняется построение нейронной сети, получающей на вход курсы валют, названия компаний, средневзвешенную стоимость акций, общую капитализацию компании и стоимость нефти
Запросы к полученной модели дают возможность оценить степень роста\падения (если таковые вообще будут) капитализации компании при изменении курса валюты и/или стоимости нефти.
                </p>
                <p>
                    Построенная система может расширяться за счет включения новых показателей, что будет существенно увеличивать точность прогнозирования.
                </p>
            </div>
        </div> 
    </div>

	        

    <div class="footer">
        <div class="pull-right">
            <strong> </strong>
        </div>
        <div>
            <strong>Copyright</strong> &copy; 2015
        </div>
    </div>
</div>